{% extends "base.html" %}

{% block extraHead %}
<style></style>
{% endblock %}

{% block content %}
<section class="hero is-fullheight is-info">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Safety First
      </h1>
      <h2 class="subtitle">
        The first application for driver-rider verification for all ride sharing platforms
      </h2>
    </div>
  </div>
</section>
{% endblock %}
